<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <title>Dashboard</title>
    </head>
    <body>
        <section class="section">
            <div class="columns">
                <div class="column is-1">
                    <a href="{{url_for('index')}}">
                        <button class="button is-info is-1">
                            Volver
                        </button>
                    </a>
                </div>
                <div class="column is-four-fifths">
                    <div class="box">
                        <p>ID Empresa: {{empresa[0]}}</p>
                        <p>CUIT: {{empresa[1]}}</p>
                        <p>Nombre legal: {{empresa[2]}}</p>
                        <p>Nombre fantasia: {{empresa[3]}}</p>
                        <p>Tipo societario: {{empresa[4]}}</p>
                        <p>Pagina web: {{empresa[5]}}</p>
                        <p>Rubro: {{empresa[6]}}</p>
                        <p>Actividad primaria: {{empresa[7]}}</p>
                        <p>Actividad secundaria uno: {{empresa[8]}}</p>
                        <p>Actividad secundaria dos: {{empresa[9]}}</p>
                        <p>Actividad secundaria tres: {{empresa[10]}}</p>
                        <p>Dirección legal - Calle: {{empresa[11]}}</p>
                        <p>Dirección legal - Número: {{empresa[12]}}</p>
                        <p>Dirección legal - Localidad: {{empresa[13]}}</p>
                        <p>Dirección legal - Código postal: {{empresa[14]}}</p>
                        <p>Dirección administrativa - Calle: {{empresa[15]}}</p>
                        <p>Dirección administrativa - Número: {{empresa[16]}}</p>
                        <p>Dirección administrativa - Localidad: {{empresa[17]}}</p>
                        <p>Dirección administrativa - Código postal: {{empresa[18]}}</p>
                        <p>MiPyME local: {{empresa[19]}}</p>
                        <p>Categoria PyME: {{empresa[20]}}</p>
                        <p>Habilitación municipal: {{empresa[21]}}</p>
                    </div>

                    {% for planta in plantas %}
                        <div class="box">
                            <p>ID Planta: {{planta[0]}}</p>
                            <p>ID Empresa: {{planta[1]}}</p>
                            <p>Nombre: {{planta[2]}}</p>
                            <p>Certificación AA - OPDS: {{planta[3]}}</p>
                            <p>Categoría CAA: {{planta[4]}}</p>
                            <p>Puntaje: {{planta[5]}}</p>
                            <p>Potencia eléctrica contratada (KW): {{planta[6]}}</p>
                            <p>Normas y estándares certificados: {{planta[7]}}</p>
                            <p>Dirección productiva - Calle: {{planta[8]}}</p>
                            <p>Dirección productiva - Número: {{planta[9]}}</p>
                            <p>Dirección productiva - Localidad: {{planta[10]}}</p>
                            <p>Dirección productiva - Código postal: {{planta[11]}}</p>
                            <p>Teléfono: {{planta[12]}}</p>
                            <p>Email: {{planta[13]}}</p>
                            <p>Página web: {{planta[14]}}</p>
                            <p>GPS West: {{planta[15]}}</p>
                            <p>GPS North: {{planta[16]}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </body>
</html>