<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/60da9bf28d.js" crossorigin="anonymous"></script>
        <title>OTEC</title>
    </head>

    <body>
        <section class="section">
            <div class="columns">
                <div class="column is-1">
                    <a href="{{url_for('index')}}">
                        <button class="button is-info">Volver</button>
                    </a>
                </div>
                <div class="column is-four-fifths">
                    <div class=field>
                        <form method="post">
                            <input type="hidden" name="identificador" value="mostrar">
                            <div class="select is-fullwidth">
                                <select name="lista" onchange="this.form.submit()">
                                    <option value="" disabled selected>Seleccione una tabla</option>
                                    {% for elemento in lista %}
                                        <option value="{{elemento}}">{{elemento}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-1"></div>
                <div class="column is-four-fifths">
                    <div class=field>
                        <div class="table-container">
                            <table class="table is-bordered is-fullwidth is-striped is-hoverable">
                                <thead>
                                    <tr>
                                        {% for cabeza in cabecera %}
                                            <th>{{cabeza}}</th>
                                        {% endfor %}
                                        <th>extra</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dato in datos %}
                                        {% if datos[0] is iterable %}
                                            <tr>
                                                {% set empresa = [] %}
                                                {% for atributo in dato %}
                                                    {% if cabecera[0] == 'ID Empresa' %}
                                                        {% if atributo == dato[0] %}
                                                            {% do empresa.append(atributo) %}
                                                            <th><a href="{{url_for('resultado', tabla='id_empresa', id=atributo)}}">{{atributo}}</a></th>
                                                        {% else %}
                                                            <th>{{atributo}}</th>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if atributo == dato[1] %}
                                                            {% do empresa.append(atributo) %}  
                                                            <th><a href="{{url_for('resultado', tabla='id_empresa',  id=atributo)}}">{{atributo}}</a></th>
                                                        {% else %}
                                                            <th>{{atributo}}</th>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <th><a id="icono" href="{{url_for('modificar_empresa', id=empresa[0])}}"><i  class="fas fa-edit"></i></a></th>
                                                {% do empresa.pop %}
                                            </tr>
                                        {% else %}
                                            <th>{{dato}}</th>
                                        {% endif %}
                                    {% endfor %}
 
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <form method="post">
                        <input type="hidden" name="identificador" value="buscar">
                        <input type="hidden" name="tipotabla" value="{{tabla}}">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="select">
                                    <select name="lista">
                                        {% for cabeza in cabecera %}
                                            <option value="{{cabeza}}">{{cabeza}}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                            </p>
                            <p class="control is-expanded">
                                <input type="text" class="input" name="texto">
                            </p>
                            <p class="control">
                                <button class="button">Buscar</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>